
@import url('../../assets/fonts/geral.fontes.css');


/*********************/
/*    04. Header     */
/*********************/
.header {
    margin-top: 60px;
	background-color: #fff;
    font-family: "OpenSans";
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .header_content {
	padding-top: 8rem;
	padding-bottom: 4rem;
	text-align: center;
}

.header .text_container {
	margin-bottom: 4rem;
}

.header .image_container{
    transform: translateY(-10%);
    -webkit-transform: translateY(-10%);
    -moz-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    -o-transform: translateY(-10%);
}
.header h1 {
	margin-bottom: 2rem;
	font-size: 2.5rem;
	line-height: 3.125rem;
}
 
.header .p_large {
	margin-bottom: 1.875rem;
}



/* Min-width width 768px */
@media (min-width: 768px) {

	/* Header */
	.header .header_content {
		padding-top: 10.5rem;
	}

	.header h1 {
		font-size: 3rem;
		line-height: 3.5rem;
	}
	/* end of header */

}
/* end of min-width width 768px */


/* Min-width width 992px */
@media (min-width: 992px) {
	
	/* Header */
	.header {
        height: 100vh;
		background: url('../../assets/images/header-background.jpg') center center no-repeat;
		background-size: cover; 
	}

	.header .header_content {
		padding-top: 11.5rem;
		text-align: left;
	}

	.header .text_container {
		margin-top: 3rem;
		margin-bottom: 0;
	}
	/* end of header */

}
/* end of min-width width 992px */


/* Min-width width 1200px */
@media (min-width: 1200px) {
	
	
	/* Header */
	.header .header_content {
		padding-top: 12.5rem;
	}

	.header .text_container {
		margin-top: 5.375rem;
		margin-left: 1rem;
		margin-right: 2rem;
	}

	.header .image_container {
		margin-left: 2rem;
		margin-right: 1rem;
	}
	/* end of header */
	
}