@import url('../../assets/fonts/geral.fontes.css');

.container{
    margin: 70px 0;
    padding: 0;
    height: calc(100vh - 70px);
    width: 100%;
    margin-left: -8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'OpenSans';
}

.section1{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1 .content{
    position: relative;
    background-color: #f6f6f6;
    border-radius: 25px;
    width: 70%;
    height: 70%;
    box-shadow: 4px 4px 8px 4px #3066be6f;
}

.section1 .content .img{
    position: absolute;
    width: 500px;
    height: 500px;
    top: -20px;
    left: 0;
}

.section2{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 20px;
}

.section2 .h2{
    font-size: 6rem;
    line-height: 1;
    color: #3066be;
    margin-bottom: 0;
    letter-spacing: 2;
}

.section2 .p{
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.685);
}

.section2 .p .a{
    text-decoration: none;
}